{{ define "main" }}
  <div class="post">
    <h1 class="post-title">{{ $.Site.Params.missingContentMessage | default "Opss, página não encontrada..." }}</h1>

    <img src="/imgs/404.png" style="margin: 0 auto;" />

    <div class="post-content">
      <a href="{{ "/" | absURL }}">&lt;&nbsp;{{ $.Site.Params.missingBackButtonLabel | default "Voltar para o início" }}</a>
    </div>

  </div>
{{ end }}
