<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Params.copyright }}
      <div class="copyright copyright--user">
        <span>© {{ now.Year }} {{ $.Site.Params.copyright | safeHTML }}</span>
    {{ else }}
      <div class="copyright">
        <span>© {{ now.Year }} Thiago André
          <!-- Powered by <a href="https://gohugo.io">Hugo</a> -->
        </span>
    {{ end }}
      <!-- <span>:: <a href="https://github.com/panr/hugo-theme-terminal" target="_blank">Theme</a> made by <a href="https://github.com/panr" target="_blank">panr</a></span> -->
      </div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}

{{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>
<!-- <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script> -->

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
